* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
}

ul, li {
    list-style: none;
    margin: 10px 0;
}


nav {
    background-color: rgb(192, 255, 225);
    font-size: larger;
    font-weight: 200;
}

#menu-icon {
    display: none;  
    font-size: 30px;
    cursor: pointer;
}

nav ul {
    display: flex; /* Hambuger menu is initially hidden */
    justify-content: center;
    padding: 30px 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    background-color: aquamarine;
}

header {
    text-align: center;
}

header h1 {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 90px;
    line-height: 130%;
    color: rgb(0, 191, 255);
}

.mee {      /* Optimzed for smaller windows */
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10%;
    box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
}

section {
    text-align: center;
}

.stuffido {
    font-size: 20px;
    line-height: 150%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row > div {
    flex: 1;
}

.sectionresume {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.stuff {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
}

form {
    max-width: 400px; 
    margin: 0 auto; 
}

form label {
    display: block; 
    margin-bottom: 10px; 
    font-weight: bold; 
}

form input[type="email"],
form textarea {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
}

form input[type="submit"] {
    background-color: #007bff; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 18px; 
}

form input[type="submit"]:hover {
    background-color: #0056b3; 
}

/* This funtion creates a Media Query for Mobile Devices optimization */
@media screen and (max-width: 768px) {
    #menu-icon {
        display: block;  /* This function displays the hamburger icon */
    }

    #menu {
        display: none;  /* The main menu is initially hidden */
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    #menu li {
        display: block;  /* This function helps stack the items vertically in the menu when the dimensions change */
        margin-bottom: 0.5rem;
    }
}
