html{
    scroll-behavior: smooth;
}
header{
    margin-top: 0;
    position: relative;
    margin-bottom: 150;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
}
h1{
    font-family: 'Abril Fatface', sans-serif;
    font-size: 90px;
    line-height: 130%;
}

ul, li {
    list-style: none;
    margin: 10px 0;
}
nav{
    font-size: larger;
    background-color: rgb(192, 255, 225);
    
    z-index: 1;
    width: 100%;
    font-weight: 200;
}
.hi{
    color: rgb(0, 191, 255);
}
img{
    
}


.lissst{
    font-size: 20px;
}

.contacttext{
    text-decoration: underline;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    background-color: aquamarine;
}
nav ul {
    padding: 0 auto;
    text-align: center;
    padding: 30px;
}

body,ul{
    margin: 0;
    padding: 0;
}
.mee {
    max-height: 50%;
    max-width: 50%;
    border-radius: 10%;
    box-shadow: 1 2 30px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    margin-left: 300px;
}
.stuffido{
    margin-left: 24%;
    text-align: left;
    font-size: 20px;
    line-height: 150%;
}



.stuff{
    max-height: 500px;
    max-height: 500px;
}

.sectionresume{
    margin: 30px;
}

.contactme {
    padding-top: 20px;
    margin-top: 10px;
}

.pics{
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,300px));
    column-gap: 10px;
    row-gap: 30px;
}

img{

    size: 70%;

}

.gpics{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

